<table>
  <tbody>
    <tr>
      <td class='container' width='600'>
        <div class='content'>
          <table class='maintable' width='100%' cellpadding='0' cellspacing='0'>
            <tbody>
              <tr>
                <td class='content-wrap aligncenter'>
                  <table width='100%' cellpadding='0' cellspacing='0'>
                    <tbody>
                      <tr>
                        <td class='content-block'>
                          <h2 class='form-title mb-0'><%= link_to "Order Invoice #{order.id}", order_path(order)%></h2>
                        </td>
                      </tr>
                      <tr>
                        <td class='content-block'>
                          <table class='invoice'>
                            <tbody>
                              <tr>
                                <td><b>Customer: </b>
                                <% if current_user.admin? %>
                                  <%= link_to User.find(order.user_id).fname, user_path(order.user_id) %>
                                <%else%>
                                  <%= User.find(order.user_id).fname %>
                                <%end%>
                                <br><b>Created at: </b>
                                <%= order.created_at%><br>
                                <b>Order Status: <span class='text-danger'><%= order.status%></span></b><br>
                                <b>Updated at: </b><%= order.updated_at%><br></td>
                              </tr>
                              <tr>
                                <td>
                                  <table class='invoice-items' cellpadding='0' cellspacing='0'>
                                    <tbody>
                                      <% order.order_items.each do |order_item|%>
                                        <tr>
                                          <td><%= link_to Item.find(order_item.item_id).title, item_path(order_item.item_id) %> </b> x <%=order_item.quantity %></td>
                                          <td class='alignright'><%= order_item.total%> Rs</td>
                                        </tr>
                                      <%end%>
                                      <tr class='total'>
                                        <td class='alignright' width='80%'>Total</td>
                                        <td class='alignright'><%=order.total%> Rs</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                    <% if policy(:order).showUI?%>
                                      <div class='item-actions text-center mt-4'>
                                        <%= link_to 'Update order', edit_order_path(order), class: 'btn btn-xs btn-primary w-100' %>
                                      </div>
                                    <%end%>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
