<div class='main mt-2 mb-3'>
    <section class='bill-confirm'>
      <div class='container-signup'>
        <div class='signup-content shadow'>
          <h3 class='text-center form-title'><%= link_to "Order Invoice #{@order.id}", order_path(@order)%></h3><hr>
          <div class="col-sm-7 mx-auto">
            <% @order.order_items.each do |order_item|%>
              <p class=''><b><%= Item.find(order_item.item_id).title%>: </b><%= order_item.unit_price%> x <%=order_item.quantity %> = <%= order_item.total%>Rs</p>
            <%end%>
            <p class=''><b>Total price:</b> <%= @order.total%>Rs</p>
            <p><b class=''>Order Status: </b><%= @order.status %></p>
          </div>
        </div>
      </div>
    </section>
</div>
