<h1 class="text-center pt-4 ">Listing all Items</h1>

<% @items.each do |item| %>
  <div class="container card bg-light p-4 mb-4">
    <div class="item-title">
      <%= link_to item.title, item_path(item) %>
    </div>
    <div class="item-body">
      <%= truncate(item.desc, length:100) %><br>
      <b>Price: <%= item.price %> RS</b>
    </div><hr>
    <div>
      <%= link_to 'Show', item_path(item), class: "btn btn-primary"%>
      <%= link_to 'Edit', edit_item_path(item), class: "btn btn-success"%>
      <%= link_to 'Destroy', item_path(item), class: "btn btn-danger",
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div>

  </div>
<% end %>
