<h1 class='text-center pt-4 mb-4'>Food Menu Items</h1>
<div class='container'>
<% @items.each_slice(3) do |item| %>
  <div class='row'>
    <% item.each do |items| %>
      <div class='col-md-4 mt-2 mb-4'>
        <div class='card'>
        <%= image_tag items.image.url, class: 'card-image img-crop'%>
        <div class='card-img-overlay d-flex justify-content-end'>
          <a href='#' class='card-link text-danger like'>
            <i class='fa fa-heart'></i>
          </a>
        </div>
        <div class='card-body'>
          <h4 class='card-title'><%= items.title %></h4>
          <p class='card-text'><%= items.desc %></p>
          <h6 class='card-subtitle mb-2 text-muted'><%= Category.find(items.category_id).name%></h6>
          <div><span class='fa fa-star checked'></span>
            <span class='fa fa-star checked'></span>
            <span class='fa fa-star checked'></span>
            <span class='fa fa-star-o'></span>
            <span class='fa fa-star-o'></span>
          </div>
          <div class='buy d-flex justify-content-between align-items-center'>
            <div class='price text-success'><h5 class='mt-4'><%= items.price %>Rs</h5></div>
             <a href='#' class='btn btn-danger mt-3'><i class='fa fa-shopping-cart mr-1'></i> Add to Cart</a>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
