<nav class='navbar navbar-expand-md  navbar-dark navbar-custom'>
  <div class='container'>
    <!-- Brand -->
    <%= link_to 'DinnerDash', root_path, class: 'navbar-brand' %>
    <!-- Toggler/collapsible Button -->
    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#collapsibleNavbar'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <!-- Navbar links -->
    <div class='collapse navbar-collapse' id='collapsibleNavbar'>
      <ul class='navbar-nav ml-auto'>
        <li class='dropdown nav-item'>
          <a href='#' class='dropdown-toggle nav-link' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><i class='fa fa-cutlery'></i> Menu <span class='caret'></span></a>
          <ul class='dropdown-menu mt-3 text-center bg-dark'>
            <li class='nav-link cat-li'><%= link_to 'All Categories', items_path %></li>
            <% Category.all.each do |category| %>
              <hr class='mt-1 mb-1'><li class='nav-link cat-li'><%= link_to "#{category.name}", category_path(category) %></li>
            <% end %>
          </ul>
        </li>
        <li class='dropdown nav-item'>
          <a href='#' class='dropdown-toggle nav-link' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><i class='fa fa-user mr-1'></i>
          <%= current_user.fname if user_signed_in?%> <span class='caret'></span></a>
          <ul class='dropdown-menu mt-3 text-center bg-dark'>
            <% if user_signed_in?%>
              <li class='nav-link cat-li'>
                <%= link_to edit_user_registration_path do%>
                  <i class='fa fa-user mr-1'></i> Edit Profile
                <%end%>
              </li><hr class='mb-0'>
              <li class='nav-link cat-li'>
                <%= link_to user_path(current_user),method: :delete,
                                            data: {confirm: "Are You sure? you want to delete item?",class: 'modal-body'} do%>
                  <i class="fa fa-trash mr-1"></i> Delt Profile
                <%end%>
              </li><hr class='mb-0'>
              <li class='nav-link cat-li'>
                <%= link_to destroy_user_session_path, method: :delete,  data: {confirm: "Are You sure? you want to Logout?", class: 'modal-body'} do%>
                  <i class='fa fa-sign-in mr-2'></i> Logout
                <%end%>
              </li>
            <%else%>
              <li class='nav-link cat-li'>
                <%= link_to new_user_session_path do%>
                  <i class='fa fa-user mr-1'></i> Login
                <%end%>
              </li><hr class='mb-0'>
              <li class='nav-link cat-li'>
                <%= link_to new_user_registration_path do%>
                  <i class='fa fa-sign-in mr-1'></i> SignUp
                <%end%>
              </li>
            <%end%>
          </ul>
        </li>

        <li class='dropdown nav-item'>
          <a href='#' class='dropdown-toggle nav-link' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><i class='fa fa-shopping-cart'></i> Orders <span class='caret'></span></a>
          <ul class='dropdown-menu mt-3 text-center bg-dark' id='bill'>
            <%= render 'bills/bill'%>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
