<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dinner-dash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <%= render 'layouts/navigation' %>
  <div id="snackbar"></div>
  <%= render 'layouts/flash'%>
  <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>
