<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dinner-dash</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <%= render 'layouts/navigation' %>
    <div class="container col-sm-10 col-sm-offset-1">
      <% if notice %>
        <div class='alert alert-success'>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class='alert alert-danger'>
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  <%= render 'layouts/footer' %>
  </body>
</html>

  <%flash.each do |name, msg|%>
    <div class='alert alert-<%="#{name}"%>'>
      <a href="#" class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </div>
  <%end%>
</div>
